aiofiles
aiohttp
aiohttp_socks
asyncio
beautifulsoup4
bs4
certifi
colorama
py-cpuinfo
cryptography
discord.py-self
discord_protos
GPUtil
gTTS
httpx
notify_py
pet-pet-gif
Pillow
psutil
pyfiglet
pystyle
requests
youtube-search
pywebview
websockets
protobuf==3.20.1
